= form_with model: [:admin, @admin_page] do |f|
  - if @admin_page.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_page.errors.count, "error")} prohibited this admin_page from being saved:"
      %ul
        - @admin_page.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.fields_for :sections do |s|
      = render "admin/sections/nested_fields", f: s 
    = link_to_add_fields "Add section", f, :sections
  .actions
    = f.submit 'Save'
