%h1 Listing Sites

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @admin_sites.each do |admin_site|
      %tr
        %td= admin_site.domain
        %td= admin_site.subdomain
        %td= link_to 'Edit', edit_admin_site_path(admin_site)
        %td= button_to 'Destroy', admin_site_path(admin_site), method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }

%br

= link_to 'New Site', new_admin_site_path
